doctype html 
html(lang='en')
head 
    style
      include style.css
    title welcome 
body
    h1(align="center") You have Successfully Registered for Tour
    a(href="/",id="go_back") Give Another Response
